include *.md
include LICENSE
include azure/cognitiveservice/helathdecisionsupport/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/cognitiveservice/__init__.py